body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    position: relative; /* Adicionado para posicionar o toggle-password */
}

.input-group i {
    color: #888;
    margin-right: 10px;
    font-size: 18px;
}

.input-group input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 5px 0;
}

/* Novo estilo para o botão de toggle */
.toggle-password {
    cursor: pointer;
    color: #888;
    margin-left: 10px;
}

.toggle-password i {
    font-size: 18px;
}


.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
    font-size: 14px;
    color: #555;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #007bff; /* Cor do checkbox */
}

.btn-finalizar {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.btn-finalizar:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 25px;
    font-size: 15px;
    color: #555;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}